SpotifyPlaylistSorterWeb/bin/
SpotifyPlaylistSorterWeb/obj/
SpotifyPlaylistSorter.Business/bin/
SpotifyPlaylistSorter.Business/obj/
SpotifyPlaylistSorter.Domain/bin/
SpotifyPlaylistSorter.Domain/obj/
SpotifyPlaylistSorter.Infrastructure/bin/
SpotifyPlaylistSorter.Infrastructure/obj/
SpotifyPlaylistSorter.Business.Tests/bin/
SpotifyPlaylistSorter.Business.Tests/obj/
TrackAnalysisWorker/bin/
TrackAnalysisWorker/obj/
Common/bin/
Common/obj/
SpotifyPlaylistSorterWeb/appsettings.Development.json
TrackAnalysisWorker/appsettings.Development.json
.vs
.vscode
.DS_Store